//Copyright (C)2014-2024 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.9.03 Education (64-bit)
//Part Number: GW1NR-LV9QN88PC6/I5
//Device: GW1NR-9
//Device Version: C
//Created Time: Fri 10 25 16:27:41 2024

IO_LOC "DIGITS[3]" 30;
IO_PORT "DIGITS[3]" IO_TYPE=LVCMOS18 PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "DIGITS[2]" 80;
IO_PORT "DIGITS[2]" IO_TYPE=LVCMOS18 PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "DIGITS[1]" 81;
IO_PORT "DIGITS[1]" IO_TYPE=LVCMOS18 PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "DIGITS[0]" 84;
IO_PORT "DIGITS[0]" IO_TYPE=LVCMOS18 PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "SEGMENTS[7]" 27;
IO_PORT "SEGMENTS[7]" IO_TYPE=LVCMOS18 PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "SEGMENTS[6]" 29;
IO_PORT "SEGMENTS[6]" IO_TYPE=LVCMOS18 PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "SEGMENTS[5]" 82;
IO_PORT "SEGMENTS[5]" IO_TYPE=LVCMOS18 PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "SEGMENTS[4]" 25;
IO_PORT "SEGMENTS[4]" IO_TYPE=LVCMOS18 PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "SEGMENTS[3]" 26;
IO_PORT "SEGMENTS[3]" IO_TYPE=LVCMOS18 PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "SEGMENTS[2]" 28;
IO_PORT "SEGMENTS[2]" IO_TYPE=LVCMOS18 PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "SEGMENTS[1]" 79;
IO_PORT "SEGMENTS[1]" IO_TYPE=LVCMOS18 PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "SEGMENTS[0]" 83;
IO_PORT "SEGMENTS[0]" IO_TYPE=LVCMOS18 PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "nRST" 3;
IO_PORT "nRST" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "CLK" 52;
IO_PORT "CLK" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
